.footer {
 max-width: 1280px;
padding: 0 36px 0 52px;   
&::before{
content: "";
display: inline-block;
width: 100%;
height: 2px;
background: linear-gradient(to right, #000000 0%, #7B7B7B 50%, #000000 100% );
}
}
.footer__title {
font-size: 32px;
font-weight: 400;
}
.footer__text {
font-size: 24;
}